body {
	background-color: #f5f5dc
}
#map {
	width: 100%;
	height:1000px;
	background-color: grey;
}
/*make map responsive for mobile devices*/
@media (max-width: 320px) {
	#map {
		width:100%;
		height:672px;
	}
}

#explore {
	text-align:center;
	background-color: A0C2D5;
	font-family: avenir;
}

#depart {
	text-align:right;
	margin-right: 20px;
	font-family: avenir;
	animation-delay: 1s;
}


.description {
	font-size:20px;
	font-family: avenir;
	margin-left:20px;
	margin-right:20px;
}

.monument-photo img {
	max-width:100%;
}
