body {
	background-image: url("images/index_background.png");
	background-repeat: no-repeat;
	width:100%; 
	height:auto;
}

/*if on mobile device, change background image size*/
@media (max-width: 320px) {
		body {
			background-image: url("images/index_background_mobile.png");
			background-repeat: no-repeat;
			width: 100%;
}
	}


#title {
	font-family: Avenir-Medium;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 0;
	text-align:center;
}

/*if on mobile device, change font size*/
@media (max-width: 320px) {
		#title {
			font-size: 35px;
			text-align: center;
	}
}
#slogan {
	font-family: Avenir-MediumOblique;
	font-size:40px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	animation-delay: 2s;
}
/*if on mobile device, change font size*/
@media (max-width: 320px) {
		#slogan {
			font-size: 20px;
			text-align: center;
	}
}

#begin {
	font-family: Avenir-Black;
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0;
	position: absolute;
	bottom: 0px;
	left: 1000px;
	animation-delay: 4s;
	text-decoration: none;
	}

/*if on mobile device, change font size*/
@media (max-width: 320px) {
		#begin {
			font-size: 20px;
			left:50px;
	}



